<div class="navigation-index">
    <h1>{{$ctrl.modelsName}}</h1>
    <p>
        <a href="/#!/crud/{{$ctrl.type}}/new" class="btn btn-success">Dodaj unos</a>
    </p>

    <div class="grid-view" id="w0">
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
            <tbody>
                <tr ng-repeat="(key, model) in $ctrl.models" data-key="9">
                    <td>{{model.id}}</td>
                    <td>{{model.name}}{{model.username}}</td>
                    <td>
                        <a data-pjax="0" aria-label="Uredi" title="Uredi" href="/#/crud/{{$ctrl.type}}/{{model.id}}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a ng-click="delete($ctrl.modelsName, model.id)" data-pjax="0" data-method="post" data-confirm="Are you sure you want to delete this item?" aria-label="Obrisati" title="Obrisati" href="#delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>