<form ng-submit="submit()" id="crudForm" name="crudForm" class="crud-form form-horizontal" role="form" data-type="{{$ctrl.modelName}}">
    <div ng-repeat="(key, field) in $ctrl.form">
        <ng-form name="form">
            <!-- TEXT FIELDS -->
            <div ng-if="field.type=='text'" class="form-group">
                <label class="col-sm-2 control-label">{{field.label}}</label>
                <div class="col-sm-6">
                    <input type="{{ field.type }}" dynamic-name="{{key}}" id="{{key}}" data-ng-model="field.value"  class="form-control" required/>
                    <!--<span ng-show="crudForm.{{key}}.$dirty && crudForm.{{key}}.$error.required">Required!</span>.-->
                    <span  data-ng-show=" {{'form.'+key+'.$dirty && form.'+key+'.$error.required'}}">Required!</span>
                </div>
            </div>

            <!-- EMAIL FIELDS -->
            <div ng-if="field.type=='email'" class="form-group">
                <label class="col-sm-2 control-label">{{field.label}}</label>
                <div class="col-sm-6">
                    <input type="{{ field.type }}" dynamic-name="{{key}}" data-ng-model="field.value" class="form-control" required/>
                    <span data-ng-show=" {{'form.'+key+'.$dirty && form.'+key+'.$error.required'}}">Required!</span>
                    <span data-ng-show=" {{'form.'+key+'.$dirty && form.'+key+'.$error.email'}}">Not email!</span>
                </div>
            </div>

            <!-- PASSWORD FIELDS -->
            <div ng-if="field.type=='password'" class="form-group" >
                <label class="col-sm-2 control-label">{{field.label}}</label>
                <div class="col-sm-6">
                    <input type="{{ field.type }}" dynamic-name="{{key}}" data-ng-model="field.value" ng-minlength={{field.min}} ng-maxlength={{field.max}} class="form-control" required/>
                    <span data-ng-show=" {{'form.'+key+'.$dirty && form.'+key+'.$error.required'}}">Required!</span>
                    <span data-ng-show=" {{'!form.'+key+'.required && (form.'+key+'.$error.minlength || form.'+key+'.$error.maxlength)' }}">Passwords must be between 8 and 20 characters.</span>
                </div>
            </div>

            <!-- TEXT FIELDS -->
            <div ng-if="field.type=='date'" class="form-group">
                <label class="col-sm-2 control-label">{{field.label}}</label>
                <div class="col-sm-6">
                    <input type="text" dynamic-name="{{key}}" id="{{key}}" data-ng-model="field.value"  class="form-control" required/>
                    <!--<span ng-show="crudForm.{{key}}.$dirty && crudForm.{{key}}.$error.required">Required!</span>.-->
                    <span  data-ng-show=" {{'form.'+key+'.$dirty && form.'+key+'.$error.required'}}">Required!</span>
                </div>
            </div>

            <!-- SELECT FIELDS -->
            <div ng-if="field.type=='dropdown'" class="form-group" >
                <label class="col-sm-2 control-label">{{field.label}}</label>
                <div class="col-sm-6">
                    <select data-ng-model="field.value" ng-options="key as option for (key, option) in field.data" class="form-control" required/>
                </div>
            </div>

            <!-- CHECKBOX FIELDS -->
            <div ng-if="field.type=='checkbox'" class="form-group" >
                <label class="col-sm-2 control-label">{{field.label}}</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input data-ng-model="field.value" type="checkbox" id="{{key}}" dynamic-name="{{key}}" name="taskGroup">
                        </label>
                    </div>

                </div>
            </div>
        </ng-form>
    </div>

    <br/>
    <button type="submit" id="submit">Spremi</button>
</form>