<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Pregled uređaja</h1>
        </div>
        <div class="col-md-2">
            <!--Sidebar content-->

            <p>
                Pretraživanje:
                <input ng-model="$ctrl.query" />
            </p>

            <p>
                Sortiraj prema:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Ime</option>
                    <option value="id">Novo</option>
                </select>
            </p>

            <ul class="categories">
                <h4>Kategorije</h4>
                <li ng-repeat="category in $ctrl.categories"
                    class="category-item">
                    <a href="#/category/devices/{{category.id}}">{{category.name}}</a>
                    <div ng-if="$ctrl.user.logged" class="action-bar">
                        <div data-type="Category" data-id="{{category.id}}" onclick="angular.element(this).scope().Like(this)" ng-if="category.liked" class="like liked">Like</div>
                        <div data-type="Category" data-id="{{category.id}}" onclick="angular.element(this).scope().Like(this)" ng-if="!category.liked" class="like">Like</div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="phones">
                <li ng-repeat="model in $ctrl.models | filter:$ctrl.query | orderBy:$ctrl.orderProp"
                    class="thumbnail model-list-item">
                    <a href="#/device/{{model.id}}" class="thumb">
                        <img ng-if="!model.image" ng-src="images/no-image.png" alt="No image" />
                        <img ng-if="model.image" ng-src="uploads/{{model.image}}" alt="{{model.alt}}" />
                    </a>
                    <div class="title">
                        <a href="#/devices/{{model.id}}">
                            <h3>{{model.name}}</h3>
                        </a>
                    </div>
                    <div ng-if="$ctrl.user.logged" class="action-bar">
                        <div data-type="Device" data-id="{{model.id}}" onclick="angular.element(this).scope().Like(this)" ng-if="model.liked" class="like liked">Like</div>
                        <div data-type="Device" data-id="{{model.id}}" onclick="angular.element(this).scope().Like(this)" ng-if="!model.liked" class="like">Like</div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>

        </div>
    </div>
</div>
